<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="baow.dao.StopDAO">

	<!-- 增   -->
	<insert id="save" parameterType="baow.entity.CarStopHistory">insert into car_stop_history
		(CS_CAR_NO,CS_IN_TIME,CS_OUT_TIME,CS_STOP_TIME) 
		values(#{carNo},#{timeIn},#{timeOut},#{stopTime})</insert>
	
<!-- 	<select id="getCarStopList" resultMap="StopHis">select * from car_vip_customer</select> -->
<!-- 	<resultMap id="StopHis" type="entity.CarStopHistory"> -->
<!-- 		<result property="carNo" column="CVC_CAR_NO"/> -->
<!-- 	    <result property="belongName" column="CVC_BELONGNAME"/> -->
<!-- 	    <result property="mobile" column="CVC_MOBILE"/> -->
<!-- 	    <result property="orderDate" column="CVC_ORDERDATE"/> -->
<!-- 	    <result property="endDate" column="CVC_ENDDATE"/> -->
<!-- 	    <result property="state" column="CVC_STT"/> -->
<!-- 	</resultMap> -->
	
<!-- 	<select id="getCarList" resultType="baow.entity.VipCar">select * from car_vip_customer</select> -->
	
<!-- 	<select id="getArrivedDateWithCarNo" resultType="long">select cvc_enddate from car_vip_customer where cvc_car_no=#{carNo}</select> -->
	
<!-- 	<select id="getVipCarsNum" resultType="int">select count(*) from car_vip_customer</select> -->
</mapper>
